<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow navbar_box-shadow">
    <div class="container-fluid mx-0">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/assets/logo.svg" alt="Logo" /> Kanban</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 ">


                @if (Kanban.Controllers.AuthController.LoggedUser != null)
                {
                    <li class="nav-item ">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Kanban" asp-action="Index">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Kanban" asp-action="Create">Add task</a>
                    </li>
                  
                    <li class="nav-item ml-auto ">
                        <div class=" d-flex align-content-center  cursor_pointer">
                            <img src="~/assets/user-avatar-filled.svg" alt="userIcon" />
                            <p class="nav-link m-0 "> @Kanban.Controllers.AuthController.LoggedUser.Username </p>
                        </div>
                        
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                    </li>
                }


            </ul>
        </div>
    </div>
</nav>